<a href="https://colab.research.google.com/github/Codaholic-anant/Python-basic-codes-/blob/main/python_basic_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON BASIC CODES FOR BASE BUILDING** *italicized text*

**1**. **SWAP OF 2 INTEGERS**

In [ ]:
num1 = int(input("enter the first number"));
num2 = int(input("enter the second number"));
#for swap the number
num = num1;
num1 = num2;
num2 = num;

print(f"num1={num1} , num2={num2}")

enter the first number4
enter the second number6
num1=6 , num2=4

**2**. **to generate random numbers**

In [ ]:
import random
print(f"Random number: {random.randint(1,10)}")

**3. conversion of killometer to miles**

In [ ]:
kilometers = float (input("enter the value in km"));
miles = kilometers * 0.621371192
print(f"{kilometers} is equal to {miles} miles")

**4. swap num without other variable**

In [ ]:
num1 = int(input("enter a first numeber"));
num2 = int(input("enter a second number"));
#swap a number
num1 , num2 = num2 ,num1

print(f"num1={num1} , num2={num2}")

**5.  checking a number is positive,negetive or zero**

In [ ]:
num = int(input("enter a number"));

if num<0:
  print(num,"is a negetive number");
elif num == 0:
  print(num,"is a zero");
else:
  print(num,"is a positive number");

**6. check the number is even or odd**

In [ ]:
num = int(input("enter a number"));

if num % 2 ==0:
  print(num, "num is even");
else:
  print(num,"num is odd")

**7. check the number year is leap or not:**

In [ ]:
year = int(input("enter a year="));

if (year % 4 == 0) and (year % 100 != 0 or year % 400 == 0):
     print(year,"is a leap year");


else:
  print(year,"is not a leap year");

**8. check the number is a prime or not**

In [28]:
num = int(input("enter a number"));
is_prime = False
if num<=1:
  print(num,"is not a prime");

elif num>1:
  for i in range(2,num):
    if num % i == 0:
      is_prime = True
      break

if is_prime:
  print(num,"is not a prime number");
else:
  print(num,"is a prime number");

enter a number9
9 is not a prime number

**9. check the series is a prime or not**

In [31]:
num = int(input("enter a number you wanna print series"));

is_prime = [];

if num<=1:
  print(num,"is not a prime");

elif num>1:
  for i in range(2 , num+1):
    for j in range(2,i):
      if i % j == 0:
        break
    else:
      is_prime.append(i)

print(is_prime)

enter a number you wanna print series11
[2, 3, 5, 7]